<script>
   var throttle = false;
 var rightMobile = leftMobile = false;
 var moreScroll = 1100;

 function resetThrottle() {
   throttle = false;
   var height = $("#middle-content").height();
   $("#left-recent").css("height", height + 30);
   $("#left-social").css("height", height + 30);
 }
 $(window).load(function() {
   updateFunction();
 });
 $(window).resize(function() {
   if (!throttle) {
     updateFunction();
     throttle = true;
   }
   setTimeout(resetThrottle, 150);
 });

 function correctRight() {
   $('#right-content').hide();
   if ($(document).width() <= 702) {
     $('#right-mobile-button').css("width", "40px");
   } else {
     $('#right-mobile-button').css("width", "57px");
   }
   $('#right-mobile-button').html("<i class='fa fa-angle-double-left'></i>");
   $('#right-mobile-button i').css("left", "12px");
   rightMobile = false;
 }

 function correctLeft() {
   $('#left-recent').hide();
   if ($(document).width() <= 702) {
     $('#left-mobile-button').css("width", "40px");
   } else {
     $('#left-mobile-button').css("width", "57px");
   }
   $('#left-mobile-button').html("<i class='fa fa-angle-double-right'></i>");
   $('#left-mobile-button i').css("left", "12px");
   leftMobile = false;
 }
 var tempWidth = $(document).width();

 function correctMiddle() {
   $('#middle-content').css("width", tempWidth);
   $('#middle-content').css("max-width", tempWidth + 10);
   if (Math.abs(oldWidth - tempWidth) > 5) {
     correctRight();
     correctLeft();
   }
   oldWidth = tempWidth;

 }
 var oldWidth = tempWidth;

 function updateFunction() {
   var height = $("#middle-content").height();
   $("#left-recent").css("height", height + 30);
   $("#left-social").css("height", height + 30);
   if ($(document).width() <= 702) {
     $("#bottom-content").css("top", height);
   } else {
     $("#bottom-content").css("top", height);
   }

   var dWidth = $(window).width();
   tempWidth = dWidth;
   if (dWidth > 1290) {
     $('#middle-content').css("width", "52.9%");
     $('#middle-content').css("max-width", "785px");
     $('#right-content').show();
     $('#left-recent').show();
   }
   if (dWidth <= 702) {
     tempWidth = tempWidth - 40 - 40;
     correctMiddle();
     $("#left-mobile-button, #right-mobile-button").css("top", 55 + $("#section-title").height() + 22);
     $("#bottom-content").css("top", height + 205);
   } else if (dWidth <= 986 && dWidth > 702) {
     $("#left-mobile-button, #right-mobile-button").css("top", 55 + $("#section-title").height());
     tempWidth = tempWidth - 60 - 57;
     correctMiddle();
     $("#bottom-content").css("top", height + 205);
   } else if (dWidth <= 1090 && dWidth > 986) {
     tempWidth = tempWidth - 340 - 60;
     correctMiddle();
     $('#left-recent').show();
     $("#bottom-content").css("top", height + 205);
   } else if (dWidth <= 1290 && dWidth > 1090) {
     tempWidth = tempWidth - 340 - 75 - 60;
     correctMiddle();
     $('#left-recent').show();
   } else {
     $('#middle-content').css("width", "52.9%");
     $('#middle-content').css("max-width", "785px");
   }

 }

 function openRightMobile() {

   if (!rightMobile) {
     rightMobile = true;
     $("#right-mobile-button").animate({
       width: "260px"
     }, 400, function() {});
     $('#right-content').show("slow");
     $('#right-content').css("top", "0");
     $('#right-mobile-button').html("<i class='fa fa-angle-double-right'></i>");
     $('#right-mobile-button i').css("left", "115px");
   } else {
     correctRight();
   }

 }

 function openLeftMobile() {

   if (!leftMobile) {
     leftMobile = true;
     $("#left-mobile-button").animate({
       width: "340px"
     }, 400, function() {});
     $('#left-recent').show("slow");
     $('#left-mobile-button').html("<i class='fa fa-angle-double-left'></i>");
     $('#left-mobile-button i').css("left", "155px");
   } else {
     correctLeft();
   }

 }
 $(document).ready(function() {
   updateFunction();
   
   var height = $("#middle-content").height();
   $("#left-recent").css("height", height + 18);
   $("#left-social").css("height", height + 20);
   $(".has-drop-down").on("mouseenter", function() {
     $(this).children().show("slow");
     $(this).children().css("display", "list-item");
   });
   $(".has-drop-down").on("mouseleave", function() {
     $("#nav-bar-list ul li:nth-child(n+2)").hide(500);
     $("#nav-bar-list ul li:nth-child(n+2)").css("display", "none");
   });
   $("#left-recent-tab ul li").on("click", function() {
     $("#left-recent-tab ul .active").removeClass("active");
     $(this).addClass("active");
   });
 });
</script>
 <div id="left-recent">
   <ul id="admin-duties">
            <li><i class="fa fa-file-text"></i><p>New Article</p></li>
            <li><i class="fa fa-th-list"></i><p>List Article</p></li>
            <li><i class="fa fa-plus-square-o"></i><p>New User</p></li>
            <li><i class="fa fa-th-list"></i><p>List Users</p></li>
          </ul>
</div>
<div id="middle-content">
        <div id="middle-admin">
            <% if logged_in? %>
              <div class="row">
                <section class="article_form">
                    <%= form_for(@article, html: {multipart: true}) do |f| %>
                      <div class="field">
                        
                        <%= f.label :title, "Title" %>
                        <%= f.text_field :title, class: 'article-title-text' %>
                        <br class="clear" />
                        <%= f.label :tag, "Tag" %>
                        <%= f.text_field :tag, class: 'article-tag-text' %>
                        <br class="clear" />
                        <%= f.label :category, "Category" %>
                        <%= f.text_field :category, class: 'article-category-text' %>
                        <br class="clear" />
                        <%= f.label :body, "Article" %>
                        <%= f.text_area :body, placeholder: "Insert Article" %>
                        <br class="clear" />
                        <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
                      </div>
                      <%= f.submit "Post", class: "btn btn-primary" %>
                    <% end %>
                  </section>
              </div>
            <% end %>
          </div>
          <br class="clear" />
<% if @current_user.admin? %>
   <p>Admin</p>
<% end %>

</div>
<style>
      html,
      body {
        background-color: gainsboro;
      }
      #middle-content {
        width: 60vw !important;
        max-width: 100% !important;
        border-right: 1px solid gainboro; 
      }
      #admin-duties {
        list-style: none;
        width: 250px;
        position: relative;
        left: 5%;
        height: auto;
      }
      #admin-duties li {
        min-height: 150px;
        width: 80%;
        margin-top: 10px;
        margin-right: 2%;
        float: left;
        position: relative;
      }
      #admin-duties li:active {
        left: 5px;
        top: -2px;
      }
      #admin-duties li i {
        color: white;
        font-size: 74px;
        position: relative;
        left: 30%;
        top: 10px;
      }
      #admin-duties li p {
        color: white;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        position: relative;
        left: -10px;
      }
      #middle-admin {
        border:1px solid purple;
        width: 100%;
        height: auto;
        min-height: 500px;
      }
      
  </style>
  <style>
            #middle-admin {
              width: 95% !important;
              position: relative;
              left: 2.5%;
              background-color: rgb(65,75,85);
              top: 20px;
              border:1px solid black;
            }
            .article_form {
              width: 90%;
              min-height: 800px;
              height: auto;
              
            }
            .field label:nth-child(1), .field label:nth-child(4), .field label:nth-child(7),.field label:nth-child(10)  {
              width: 20%;
              font-size: 22px;
              font-family: 'Roboto', sans-serif;
              color: white;
              float: left;
            }
            .article-title-text, .article-category-text, .article-tag-text ,#article_body {
              width: 70%;
              float: left;
              position: relative;
              top: 16px;
              height: 30px;
            }
            #article_body {
              height: 500px;
            }
            #article_picture {
              position: relative;
              top: 30px;
              width: 50%;
              left: 20%;
              color: white;
              height: 50px;
              font-family: 'Roboto', sans-serif;
              font-size: 12px;
              border: none;
              border-radius: 4px;
              cursor: pointer;
            }
            .btn-primary {
              width: 150px;
              float: left;
              position: relative;
              top: 20px;
              left: 20%;
              background-color: rgb(230, 67, 56);
              color: white;
              height: 50px;
              font-family: 'Roboto', sans-serif;
              font-size: 12px;
              border: none;
              border-radius: 4px;
              cursor: pointer;
            }
          </style>